
.info{
    background: rgba(250, 250, 250, 1);
}

/**/

.info__nav{
    height: 66px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 1);
}

.info__nav-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    border-bottom: 1px solid black;
}

/**/

.info__project{
    padding: 110px 70px 105px;
}

.info__project-grid{
    display: grid;
    margin-top: 70px;
    margin-bottom: 110px;
    grid-template-rows: 24px 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px 40px;
}

.info__title{
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    padding-bottom: 23px;
    border-bottom: 1px solid black;
}

.info__project-subtitle{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.info__project-text{
    margin: 0;
    max-width: 550px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.info__project-progress{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 4fr;
}

.info__project-bar{
    margin: 0;
    height: 36px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    padding-top: 9px;
    box-sizing: border-box;
}

.info__project-bar_blue{
    background: rgba(52, 86, 243, 1);
    color: rgba(255, 255, 255, 1);
}

.info__project-bar_grey{
    background: rgba(242, 242, 242, 1);
    color: rgba(0, 0, 0, 1);
}

.info__project-span{
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(160, 160, 160, 1);
}

/**/

.info__tech{
    background: rgba(245, 245, 245, 1);
    height: 625px;
    padding: 100px 70px 100px;
    box-sizing: border-box;
}

.info__tech-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.info__tech-title{
    margin: 90px 0 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
}

.info__tech-subtitle{
    margin: 26px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
    max-width: 460px;
}

.info__technologies{
    margin: 0;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info__technology{
    background: rgba(232, 232, 232, 1);
    margin: 0;
    padding: 21px 0 0;
    width: 90px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.04em;
    text-align: center;
}

/**/

.info__student{
    background: rgba(250, 250, 250, 1);
    height: 1079px;
    padding: 110px 70px 125px;
    box-sizing: border-box;
}

.info__student-grid{
    margin-top: 66px;
    display: grid;
    grid-template-rows: 58px 38px 213px 17px;
    grid-template-columns: 600px 270px;
    gap: 0 270px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1; 
}

.info__student-name{
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    height: 58px;
}

.info__student-about{
    margin: 0;
    margin-top: 18px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    height: 20px;
}

.info__student-text{
    margin: 26px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.info__student-github{
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 46px;
}

.info__student-github:hover{
    opacity: 70%;
    transition: .2s;
}

.info__student-image{
    aspect-ratio: 270/327;
    width: 270px;
    object-fit: cover;
    grid-column: 2;
    grid-row: 1 / span 4;
    border-radius: 10px;
}

.info__student-portfolio{
    margin: 100px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(160, 160, 160, 1);
}

.info__student-links{
    margin: 30px 0 0;
}

.info__student-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.info__student-link:hover{
    opacity: 70%;
    transition: .2s;
}

.info__student-link_decoration_none{
    border: none;
}

.info__student-textlink{
    margin: 20px 0 0;
    padding-bottom: 19px;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.info__student-button{
    padding: 0;
    background-image: url('../../images/portfolio-button.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: bottom;
    border: 0;
    width: 29px;
    height: 24px;
    cursor: pointer;
}