.buttonMore {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 80px;
    background: rgba(250, 250, 250, 1);
}

.buttonMore__button {
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 36px;
    border-radius: 6px;
    background-color: rgba(244, 244, 244, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

@media all and (max-width: 480px){
    .buttonMore__button{
        width: 240px;
    }
}

.buttonMore__button:hover{
    opacity: 80%;
    transition: .2s;
}