.notfoundedpage{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notfoundedpage__404{
  margin: 246px 0 5px;
  font-family: Inter;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
}

@media all and (max-width: 480px){
  .notfoundedpage__404{
    font-size: 80px;
    line-height: 97px;
    margin: 329px 10px 10px;
  }
}

.notfoundedpage__span{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media all and (max-width: 480px){
  .notfoundedpage__span{
    font-size: 12px;
    line-height: 15px;
  }
}

.notfoundedpage__link{
  margin: 184px 0 60px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  color: rgba(52, 86, 243, 1);
}

@media all and (max-width: 480px){
  .notfoundedpage__link{
    margin: 284px 0 30px;
    font-size: 12px;
    line-height: 15px;
  }
}