.techs__title{
  margin: 0;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
}

@media all and (max-width: 480px){
  .techs__title{
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}

.techs{
  background: rgba(245, 245, 245, 1);
  padding: 100px 70px 100px;
  box-sizing: border-box;
}

@media all and (max-width: 768px){
  .techs{
    padding: 70px 50px 90px;
  }
}

@media all and (max-width: 480px){
  .techs{
    padding: 70px 18px 70px;
  }
}

.techs__text{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.techs__7tech{
  margin: 90px 0 0;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media all and (max-width: 768px){
  .techs__7tech{
    margin-top: 80px;
  }
}

@media all and (max-width: 480px){
  .techs__7tech{
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
  }
}

.techs__subtitle{
  margin: 26px 0 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  max-width: 460px;
}

@media all and (max-width: 768px){
  .techs__subtitle{
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media all and (max-width: 480px){
  .techs__subtitle{
    margin: 24px 0 0;
    font-size: 11px;
    line-height: 16px; 
  }
}

.techs__technologies{
  margin: 0;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  gap: 10px;
}

@media all and (max-width: 768px){
  .techs__technologies{
    margin-top: 83px;
  }
}

@media all and (max-width: 767px){
  .techs__technologies{
    flex-wrap: wrap;
  }
}

@media all and (max-width: 480px){
  .techs__technologies{
    margin-top: 50px;
  }
}

.techs__technology{
  background: rgba(232, 232, 232, 1);
  margin: 0;
  padding: 21px 0 0;
  width: 90px;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media all and (max-width: 768px){
  .techs__technology{
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 325px){
  .techs__technology_box_last{
    margin-right: 94px;
  }
}